@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Courgette&family=Creepster&family=Fredoka:wght@500&family=Gayathri&family=Lexend+Mega&family=MuseoModerno&family=Nabla&family=Nosifer&family=Pacifico&family=Permanent+Marker&family=Trade+Winds&display=swap");

body {
  background-image: url(https://images.photowall.com/products/53211/more-coffee-beans.jpg?h=699&q=85);
  font-family: "Fredoka";
  padding: 20px;
}

h1 {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1,
h2,
p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

h1,
h2 {
  font-family: "Trade Winds", serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor,
.dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
  transform: translateY(-15px);
}

a {
  color: black;
  top: -12px;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}

#follow {
  top: 16px;
  font-size: 17px;
  position: relative;
}

.ig-logo {
  height: 10%;
  width: 10%;
  position: relative;
  top: -10px;
  left: 60px;
  
  /* float: right; */
}

.box {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
}

.bounce-5 {
  animation-name: bounce-5;
  animation-timing-function: ease;
}
@keyframes bounce-5 {
  0%   { transform: scale(1,1)    translateY(-10px); }
  10%  { transform: scale(1.1,.9) translateY(-10px); }
  30%  { transform: scale(.9,1.1) translateY(-16px); }
  50%  { transform: scale(1,1)    translateY(-10px); }
  57%  { transform: scale(1,1)    translateY(-7px); }
  64%  { transform: scale(1,1)    translateY(-10px); }
  100% { transform: scale(1,1)    translateY(-10px); }
}
